nav#mainNav.mainNav
    ul
      li.logo
        a(href="/") Csml
      li
        a(href="/paintings") Paintings
      li
        a(href="/drawings") Drawings
      li
        a(href="/sculptures") Sculptures
      li
        a(href="/writings") Writings
    button#mainNav-toggle(type="button")
      span.before
      span Toggle menu
      span.after